Source: rabbitmq-server
Section: net
Priority: optional
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Uploaders:
 James Page <james.page@ubuntu.com>,
 Thomas Goirand <zigo@debian.org>,
Build-Depends:
 debhelper (>= 10),
 dh-python,
 elixir (>= 1.6.6),
 erlang-base (>= 1:19.3),
 erlang-crypto (>= 1:19.3),
 erlang-dev (>= 1:19.3),
 erlang-edoc (>= 1:19.3),
 erlang-eldap (>= 1:19.3),
 erlang-erl-docgen (>= 1:19.3),
 erlang-eunit (>= 1:19.3),
 erlang-inets (>= 1:19.3),
 erlang-mnesia (>= 1:19.3),
 erlang-nox (>= 1:19.3),
 erlang-os-mon (>= 1:19.3),
 erlang-parsetools (>= 1:19.3),
 erlang-public-key (>= 1:19.3),
 erlang-runtime-tools (>= 1:19.3),
 erlang-src (>= 1:19.3),
 erlang-ssl (>= 1:19.3),
 erlang-syntax-tools (>= 1:19.3),
 erlang-tools (>= 1:19.3),
 erlang-xmerl (>= 1:19.3),
 locales-all,
 python-all,
 python-simplejson,
 rsync,
 unzip,
 xmlto,
 xsltproc,
 zip,
Standards-Version: 4.2.1
Vcs-Browser: https://salsa.debian.org/openstack-team/third-party/rabbitmq-server
Vcs-Git: https://salsa.debian.org/openstack-team/third-party/rabbitmq-server.git
Homepage: http://www.rabbitmq.com/

Package: rabbitmq-server
Architecture: all
Depends:
 adduser,
 erlang-base | erlang-base-hipe,
 erlang-crypto (>= 1:19.3),
 erlang-eldap (>= 1:19.3),
 erlang-inets (>= 1:19.3),
 erlang-mnesia (>= 1:19.3),
 erlang-os-mon (>= 1:19.3),
 erlang-parsetools (>= 1:19.3),
 erlang-public-key (>= 1:19.3),
 erlang-runtime-tools (>= 1:19.3),
 erlang-ssl (>= 1:19.3),
 erlang-syntax-tools (>= 1:19.3),
 erlang-tools (>= 1:19.3),
 erlang-xmerl (>= 1:19.3),
 locales-all,
 logrotate,
 lsb-base,
 socat,
 ${misc:Depends},
 ${python:Depends},
Description: AMQP server written in Erlang
 RabbitMQ is an implementation of AMQP, the emerging standard for high
 performance enterprise messaging. The RabbitMQ server is a robust and
 scalable implementation of an AMQP broker.
